nav > a {
    text-decoration: none;
    color: blue;
}

nav > a:hover {
    color: goldenrod;
    border-bottom: 4px solid goldenrod;
}

nav > a:visited {
    color: blue;
}

.use-case-description {
    border-bottom: 2px solid black;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto; 
}

.definition {
    font-family: Arial, sans-serif;
    margin: 0 auto;
}
